# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Xcode workspace & project files that should be ignored
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xcscmblueprint

# Derived data and build artifacts
DerivedData/
archives/
Build/
*.ipa
*.dSYM.zip
*.dSYM


# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# Metal Shader Compiler Cache
*.air
*.metalmap
*.metallib

# Logs & Debugging
*.log
*.swp
*.swo
*.ldb

# Git-Specific
.git/
particlelife.xcodeproj/xcuserdata/
